* {
  margin: 0;
  padding: 0;
}

body {
  background: #222;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.crud {
  width: 80%;
  margin: auto;
}

.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}

input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background: #111;
  color: white;
  margin: 4px 0;
  border-radius: 4px;
  padding: 4px;
}
input:focus {
  background: white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
}

.price input {
  width: 20%;
}

#total {
  background: #a00d02;
  padding: 5px 2px;
  border-radius: 4px;
}
#total::before {
  content: "total: ";
}

button {
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  background: #390053;
  color: #fff;
  border-radius: 20px;
}
button:hover {
  background: #51025f;
  letter-spacing: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#deleteAll {
  margin: 20px 0;
}

.btnsearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.btnsearch button {
  width: 45%;
}

.table-flow {
  overflow-x: auto;
}

table {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
table th {
  text-transform: uppercase;
  padding: 5px;
}
table td {
  padding: 5px;
}

.main-btn {
  background-color: #ff3150;
  color: #ffc400;
  padding: 0.5rem 1rem;
}
.main-btn:hover {
  background-color: #ff3150;
  color: #19283f;
}